body {
    background: none repeat scroll 0 0 #262626;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}
/*common*/
.widget {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    clear: both;
    margin: 10px 0;
    padding-bottom: 20px;

}
.widget-header{
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(center top , #fcfcfc, #e8e8e8);
    border-bottom: 1px solid #cfcfcf;
    border-radius: 2px 2px 0 0;
    line-height: 24px;
    padding: 10px;
    margin-bottom: 20px;
}
.widget-header .title{
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.margin_bottom{
    margin-bottom: 10px;
}
/*main*/
header {
    background-color: #212121;
    background-image: linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-repeat: no-repeat;
    border-top: 4px solid #3693cf;
    height: 52px;
    left: 0;
    line-height: 52px;
    vertical-align: middle;
    padding: 0 15px;
    margin-bottom: 15px;
}
footer {
    background: none repeat scroll 0 0 #3693cf;
    box-shadow: 0 0 15px #1f5a80 inset;
    color: white;
    font-size: 11px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    z-index: 1;
}

.dashboard-wrapper {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 0 0 4px 4px;
    margin-bottom: 20px;
    min-height: 480px;
    padding: 10px;
    position: relative;
    margin: 0 0 20px 0;
}
/*for login form*/
.login-wrapper {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 18px 6px -8px #919191, 0 0 0 #cccccc;
    position: relative;
}
.login_header{
    margin: 0;
    padding: 30px 20px 10px;
}
.login_header h3 {
    color: #f63131;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login_content{
    padding: 10px 20px;
}
.login_action{
padding: 10px 20px;
}
/*menu*/
.menu-item{
    border-radius: 4px;
    cursor: pointer;
    font-weight: 300;
    height: 70px;
    letter-spacing: 0.02em;
    line-height: 20px;
    margin: 5px;
    padding: 5px;
}
.menu-item:nth-child(odd)
{
    background:none repeat scroll 0 0 #0daed3;
}
.menu-item:nth-child(even)
{
    background:none repeat scroll 0 0 #74b749;
}
.menu-item .menu_title{
   color: white;
    font-size: 14px;
}
.menu-item .menu_image{
    margin-bottom: 10px;
}
.menu-item .menu_image img{
    height: 25px;
    width: 25px;

}
.menu-item .menu_sub_count{
    margin: 10px 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
/*action_buttons*/
.action_button{
    display: inline-block;
    float: left;
    margin: 5px;
}
.action_button a{
    background-color: #0d0d0d;
    background-image: -moz-linear-gradient(center top , #444444, #0d0d0d);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
}
.action_button a:hover{
    background-position: 0 -15px;
    color: white;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}