body {
    background: none repeat scroll 0 0 #262626;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}

header {
    background-color: #212121;
    background-image: linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-repeat: no-repeat;
    border-top: 4px solid #3693cf;
    height: 52px;
    left: 0;
    line-height: 52px;
    vertical-align: middle;
    padding: 0 15px;
    margin-bottom: 15px;
}
footer {
    background: none repeat scroll 0 0 #3693cf;
    box-shadow: 0 0 15px #1f5a80 inset;
    color: white;
    font-size: 11px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    z-index: 1;
}
.dashboard-wrapper {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 0 0 4px 4px;
    margin-bottom: 20px;
    min-height: 480px;
    padding: 10px;
    position: relative;
    margin: 0 0 20px 0;
}
.widget {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    clear: both;
    margin-bottom: 30px;
    margin-top: 0;
}